<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Dish #<%= @dish.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
<!--               <dt>Host</dt>
              <dd><%= @dish.profile_id %></dd>

            -->
            <dt>Host's name</dt>
            <dd><%= @dish.fullname %></dd>

            <dt>Dish name</dt>
            <dd><%= @dish.dish_name %></dd>

            <dt></dt>
            <dd><img src="<%= @dish.photo %>" width="100%" height="100%"></dd>

            <dt>Cuisine type</dt>
            <dd><%= @dish.cuisine_type %></dd>

            <dt>Dish description</dt>
            <dd><%= @dish.dish_description %></dd>

            <dt>Ingredients</dt>
            <dd><%= @dish.ingredients %></dd>

            <dt>Date offered</dt>
            <dd><%= @dish.date_offered.in_time_zone('Central Time (US & Canada)').strftime('%B %e, %Y at %l:%M%P %Z') %></dd>

            <dt>Max guests</dt>
            <dd><%= @dish.max_guests %></dd>

            <dt>Number guests left</dt>
            <dd><%= @dish.number_guests_left %></dd>

            <dt>Price offered</dt>
            <dd><%= number_to_currency(@dish.price_offered, :unit => "$") %></dd>  

            <dt>Location</dt>
            <dd><%= @dish.location %></dd>

            <dt>Posted</dt>
            <dd><%= time_ago_in_words(@dish.date_offered) %> ago</dd>

          </dl>

<!--             <div class="btn-group">
              <a href="#" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              Number of orders
                <span class="caret"></span>
              </a> -->

              <!-- Dropdown and Reservation-->

<!-- 
              <form action="/explore/<%= @dish.id %>/confirmation">
                <div class="form-group">
                <label for="guests" name="guests" class="col-sm-4 control-label">Number of orders</label>
                  <div class="col-sm-4">
                  
                  <select class="form-control" id="guests">
                      <%= @dish.number_guests_left.times do |index| %>
                      <option value="<%= index+1 %>"><%= index+1%></option>
                      <% end %>
                    </select>
                    <br/>

                  </div>
                </div>
                <input type="submit" value="Reserve" class="btn btn-success btn-group col-md-4">
              </form> -->

              <a href="/dishes/add/<%= @dish.id %>" class="btn btn-success btn-group btn-group-justified col-md-6">Reserve</a>
            <br>
<br>
            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/explore" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
